@model Entidades.Person
@{
    var profileList = ViewData["AccessCode"] as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm("CreateAccount", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <article class="form-group center">
        <header>
            <hgroup>
                <h3>Preencha os campos abaixo.</h3>
            </hgroup>
        </header>
    </article>

    <div style="clear: both">&nbsp;</div>

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nome", new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sex, "Sexo", new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.DropDownList("Sex", null, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.User.AccessCode, "Perfil de Acesso", new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.User.AccessCode, profileList, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", Type = "Email", required = "required" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNumber, "Celular", new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-12 col-md-12 center">
                <input type="submit" value="Criar conta" class="btn btn-primary" />
            </div>
        </div>
    </div>
}