@model Entidades.Class

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var titulo = Model.Id == 0 ? "Inserir Class" : "Editar Class";
    var docentes = ViewBag.Docentes as List<SelectListItem>;
    var discentesNaoVinculados = ViewBag.Discentes as List<SelectListItem>;
}


@section body{

    <div class="TituloPagina">@titulo</div>

    <div id="divErro" class="alert alert-danger hide">
        <span id="MensagemErro"></span>
    </div>

    <section class="row-fluid">
        <div class="span12 fundo">
            <div class="tab-content">
                <div class="tab-pane active" id="convidado">
                    <fieldset>
                        <div class="alert alert-info camposObrigatorio">
                            <span class="icon-info-sign"></span>Os campos marcados com (*) são de preenchimento obrigatório
                        </div>

                        <form action="#" method="post" id="formTurma" name="inserir" class="clearfix form-horizontal">

                            @Html.HiddenFor(a => a.SelectedStudentsId)
                            @Html.HiddenFor(a => a.Id)

                            <fieldset>
                                <div class="row-fluid">
                                <div class="span12">
                                    <fieldset class="interno">
                                        <legend>Dados Cadastrais</legend>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <div class="controls span9">
                                                        <label for="Description"><span class="camposObrigatorio">*</span> Name Class :</label>
                                                        @Html.TextBoxFor(c => c.Description, new {@class = "span10 required", maxlength = "150", autocomplete = "off"})
                                                        <span class="text-error hide">
                                                                <br />
                                                                O campo Name da Class é de preenchimento obrigatório.</span>
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <div class="controls span9">
                                                        <label for="ClassTime"><span class="camposObrigatorio">*</span> ClassTime :</label>
                                                        @Html.DropDownListFor(a => a.ClassTime, null, new {@class = "span10 required"})
                                                        <span class="text-error hide">
                                                                <br>
                                                                O campo ClassTime é de preenchimento obrigatório.</span>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="span6">

                                                <div class="control-group">
                                                    <div class="controls span9">
                                                        <label for="Capacidade"><span class="camposObrigatorio">*</span> Capacidade de Alunos:</label>
                                                        @Html.TextBox("Capacidade", "20", new {@class = "span2", @maxlength = "2", @disabled = "disabled"})
                                                    </div>
                                                </div>

                                                <div class="control-group">
                                                    <div class="controls span9">
                                                        <label for="idTeacher"><span class="camposObrigatorio">*</span> Teacher :</label>
                                                        @Html.DropDownListFor(a => a.Teacher.Id, @docentes, new {@class = "span10 required", @id = "idDocente"})
                                                        <span class="text-error hide">
                                                                <br>
                                                                O campo Teacher é de preenchimento obrigatório.</span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </fieldset>

                                </div>
                            </fieldset>


                            <div class="row-fluid">
                                <div class="span12">
                                    <fieldset class="interno">
                                        <legend>Discentes</legend>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="row-fluid control-group shuffle">
                                                    <div class="span5">
                                                        <div class="discenteObrigatorio">Discentes</div>
                                                        @Html.DropDownList("DiscentesNaoSelecionados", @discentesNaoVinculados, new {@multiple = "multiple", @size = "7", @class = "span12"})
                                                    </div>

                                                    <div class="span2 text-center">
                                                        <div>
                                                            <button id="btnRemoveAll" class="btn" type="button">
                                                                <span class="icon-double-angle-left"></span>
                                                            </button>
                                                            <button id="btnRemove" class="btn" type="button">
                                                                <span class="icon-angle-left"></span>
                                                            </button>
                                                            <button id="btnAdd" class="btn" type="button">
                                                                <span class="icon-angle-right"></span>
                                                            </button>
                                                            <button id="btnAddAll" class="btn" type="button">
                                                                <span class="icon-double-angle-right"></span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="span5">
                                                        <div class="discenteObrigatorio">* Discentes Vinculados</div>
                                                        @Html.DropDownList("DiscentesSelecionados", null, new {@multiple = "multiple", @size = "7", @class = "span12"})
                                                        <span class="text-error hide">O campo Discentes Vinculados é de preenchimento obrigatório.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <button id="btnSalvar" type="submit" class="btn btn-primary" title="SaveAndReturn">SaveAndReturn</button>
                <a id="btnCancelar" class="btn" href="#">Cancelar</a>
            </div>
        </div>


    </section>


}

@section scripts {
    @Scripts.Render("~/Content/Scripts/outros/jshuttle.js")
    @Scripts.Render("~/Content/Scripts/sistema/Class/Manter.js")


}